.videoMain {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    width: 60%;
    padding: 10px 20px;
    color: #fff;
}

.videoMain > * {
    width: 80%;
}

.videoPlayer {
    height: 24vw;
    min-height: 400px;
    /* background-color: #202020; */
    /* border: solid 1px #fff; */
}

.videoInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.videoMetadata {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.videoMetadata > * {
    display: flex;
    min-height: 30px;
}

.videoMetadata > .title {
    flex: 1 1 100%;
    font-size: 1.5rem;
}

.videoMetadataLeft {
    gap: 10px;
    align-items: center;
    color: #aaa;
}

.videoMetadataRight {
    align-items: center;
}

.videoMetadataRight > * {
    display: flex;
    gap: 10px;
    height: 100%;
    padding: 5px 10px;
    border-radius: 10px;
}

.videoMetadataRight > *:hover {
    background-color: #aaa;
    cursor: pointer;
}

.videoMetadataRight img {
    width: 16px;
    height: auto;
}

.videoUploader {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.videoUploader > img {
    width: 50px;
    border-radius: 50%;
}

.videoUploader > button {
    margin: auto 0 auto auto;
    padding: 10px 20px;
    border: none;
    background-color: #c00;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.uploaderInfo {
    margin: auto 0;
}

.uploaderInfo > a {
    color: #fff;
    text-decoration: none;
}

.uploaderInfo > .uploaderSubscribers {
    color: #aaa;
    font-size: .8rem;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

.comment > img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.commentTop {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% - 2rem - 10px);
    gap: 5px;
}

.commentInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.commentInfo > .sortBtn {
    display: flex;
    gap: 5px;
}

.commentInfo > .commentCreatedAt {
    color: #aaa;
}

.commentBottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    /* width: 100%; */
    margin-left: calc(2rem + 10px);
}

.commentLike {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.commentReply {
    color: #aaa;
}

@media (max-width: 768px) {
    main {
      flex-direction: column;
      height: auto;
      margin-top: 60px;
    }
  
    .videoMain {
      width: 100%;
    }
  
    .videoNav {
      width: 100%;
      margin-top: 20px;
    }
  
    body {
      font-size: 14px;
    }
  }