<div class="rVideoThumbnailWrapper" style="position: relative;">
    <a href="#">
      <img src="<%= thumbnailSrc %>" style="width: 100%; display: block;">
      <!-- 재생 시간 오버레이 -->
      <div style="
        position: absolute;
        bottom: 6px;
        right: 6px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        font-size: 12px;
        padding: 2px 5px;
        border-radius: 2px;
        z-index: 10;
        ">
        <%= duration %>
      </div>
    </a>
  </div>