<link rel="stylesheet" href="/public/css/yeeunkim7/videoNav.css">

<div class="videoNav">
    <div class="recommendFilter">
        <div class="filterOpt selected">All</div>
        <div class="filterOpt">From Marcus Levin</div>
    </div>
    <div class="recommendList">
    </div>
</div>

<script>
    // rVideos 배열
    const rVideos = [
        {
            thumbnailSrc: '/public/img/videoPage/rVideo1.png',
            videoTitle: 'EP 6: Living to Serve | SEARCH ON',
            uploaderName: 'James Gouse',
            videoViews: '1M views',
            createdAt: '3 years ago',
            duration : '23:45',
        }, {
            thumbnailSrc: '/public/img/videoPage/rVideo2.png',
            videoTitle: 'EP 6: Living to Serve | SEARCH ON',
            uploaderName: 'James Gouse',
            videoViews: '1M views',
            createdAt: '3 years ago',
            duration : '23:45',
        }, {
            thumbnailSrc: '/public/img/videoPage/rVideo3.png',
            videoTitle: 'EP 6: Living to Serve | SEARCH ON',
            uploaderName: 'James Gouse',
            videoViews: '1M views',
            createdAt: '3 years ago',
            duration : '23:45',
        }, {
            thumbnailSrc: '/public/img/videoPage/rVideo4.png',
            videoTitle: 'EP 6: Living to Serve | SEARCH ON',
            uploaderName: 'James Gouse',
            videoViews: '1M views',
            createdAt: '3 years ago',
            duration : '23:45',
        }, {
            thumbnailSrc: '/public/img/videoPage/rVideo5.png',
            videoTitle: 'EP 6: Living to Serve | SEARCH ON',
            uploaderName: 'James Gouse',
            videoViews: '1M views',
            createdAt: '3 years ago',
            duration : '23:45',
        }, {
            thumbnailSrc: '/public/img/videoPage/rVideo6.png',
            videoTitle: 'EP 6: Living to Serve | SEARCH ON',
            uploaderName: 'James Gouse',
            videoViews: '1M views',
            createdAt: '3 years ago',
            duration : '23:45',
        }, {
            thumbnailSrc: '/public/img/videoPage/rVideo7.png',
            videoTitle: 'EP 6: Living to Serve | SEARCH ON',
            uploaderName: 'James Gouse',
            videoViews: '1M views',
            createdAt: '3 years ago',
            duration : '23:45',
        }, {
            thumbnailSrc: '/public/img/videoPage/rVideo8.png',
            videoTitle: 'EP 6: Living to Serve | SEARCH ON',
            uploaderName: 'James Gouse',
            videoViews: '1M views',
            createdAt: '3 years ago',
            duration : '23:45',
        },
    ];

    // 추천 영상 세팅 함수
    const setVideoNav = () => {
        const recommendList = document.querySelector('.recommendList');

        rVideos.forEach(video => {
            const videoItem = document.createElement('div');
            videoItem.className = 'rVideo';

            videoItem.innerHTML = `
            <div class="thumbnailWrapper">
                <img src="${video.thumbnailSrc}" alt="thumbnail" class="thumbnail">
            </div>
            <div class="rVideoInfo">
            <div class="rVideoTitle">${video.videoTitle}</div>
            <div class="rVideoUploader">${video.uploaderName}</div>
            <div class="rVideoBottom">${video.videoViews} • ${video.createdAt}</div>
            </div>
`;
            recommendList.appendChild(videoItem);
        });
    };

    (async () => {
        await setVideoNav();
    })();
</script>
