<div class="comment">
  <img src=<%= commenterImg %> >
  <div class="commentTop">
      <div class="commentInfo">
          <div class="commentAuthor"><%= authorName %></div>
          <div class="commentCreatedAt"><%= createdAt %></div>
      </div>
      <div class="commentContent"><%= comment %></div>
  </div>
  <div class="commentBottom">
      <div class="commentLike">
          <img src="/public/img/videoPage/likeIcon.svg" alt="">
          <p>3</p>
      </div>
      <div class="commentDislike">
          <img src="/public/img/videoPage/dislikeIcon.svg" alt="">
          <p></p>
      </div>
      <div class="commentReply">
          REPLY
      </div>
  </div>
</div>