<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channel Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
      main {
        display: flex;
        flex-direction: column;
        /* min-height: 100vh; */
        width: 100%;
        height: calc(100vh - 69px);
        position: absolute;
        top: 0;
        left: 0;
        margin: 69px 0 0 0;
        overflow-y: scroll;
        scrollbar-color: gray #181818;
    }
       
    </style>
</head>
<body>
    <%- include('template.ejs') %>
    <main>
        <%- include('channel.ejs') %>
    </main>
</body>
</html>