
<link rel="stylesheet" href="/public/css/channel.css">

<main class="channel">
  <div class="content-wrapper">

    <section class="channel-banner">
      <div class="channel-cover">
        <img src="/public/img/channel/banner.svg" alt="Channel Banner">
      </div>

      <div class="channel-title">
        <img class="channel-profile" src="/public/img/channel/propic.svg" alt="Channel Profile">
        <div class="channel-details">
          <h1 class="channel-name">Marcus Levin</h1>
          <p class="channel-subscribers">1.2M subscribers</p>
        </div>
        <button class="subscribe-button">Subscribe</button>
      </div>

      <div class="channel-toolbar">
        <div class="toolbar-menu">
          <a href="" class="active">HOME</a>
          <a href="">VIDEOS</a>
          <a href="">PLAYLISTS</a>
          <a href="">COMMUNITY</a>
          <a href="">CHANNELS</a>
          <a href="">ABOUT</a>
          <img src="/public/img/channel/search.svg" alt="Search Icon">
        </div>       
      </div>
    </section>

    <section class="smal-video">
      <video controls src="../assets/video/sample.mp4"></video>
      <div class="video-description">
        <div class="video-title">Blind Woodturner: Turning passion into fine art</div>
        <div class="video-meta">567,969 views · 3 weeks ago</div>
        <div class="description">
           비디오 설명
        </div>
      </div>
    </section>

    <section class="play-lists">
      <div class="playlist">
        <div class="playlist-header">
          <h3 class="playlist-date">Search on '21</h3>          
          <button class="play-button">
            <img src="/public/img/channel/playbutton.svg" alt="Play Button" class="play-button-icon">
            <span class="play-button-text">PLAY ALL</span>
          </button>
        </div>
        <div class="playlist-videos">
          <div class="video-card">
            <img src="/public/img/channel/Thumbnail 0.svg" alt="Video Thumbnail">
            <div class="video-info">
              <h3 class="video-title">Lorem ipsum dolor sit amet, concete...</h3>
              <p class="channel-name">Marcus Levin</p>
              <p class="video-meta">320K views · 1 month ago</p>
            </div>
          </div>
          <div class="video-card">
            <img src="/public/img/channel/Thumbnail 1.svg" alt="Video Thumbnail">
            <div class="video-info">
              <h3 class="video-title">Lorem ipsum dolor sit amet, concete...</h3>
              <p class="channel-name">Marcus Levin</p>
              <p class="video-meta">320K views · 1 month ago</p>
            </div>
          </div>
          <div class="video-card">
            <img src="/public/img/channel/Thumbnail 2.svg" alt="Video Thumbnail">
            <div class="video-info">
              <h3 class="video-title">Lorem ipsum dolor sit amet, concete...</h3>
              <p class="channel-name">Marcus Levin</p>
              <p class="video-meta">320K views · 1 month ago</p>
            </div>
          </div>
          <div class="video-card">
            <img src="/public/img/channel/Thumbnail 3.svg" alt="Video Thumbnail">
            <div class="video-info">
              <h3 class="video-title">Lorem ipsum dolor sit amet, concete...</h3>
              <p class="channel-name">Marcus Levin</p>
              <p class="video-meta">320K views · 1 month ago</p>
            </div>
          </div>
          <div class="video-card">
            <img src="/public/img/channel/Thumbnail 4.svg" alt="Video Thumbnail">
            <div class="video-info">
              <h3 class="video-title">Lorem ipsum dolor sit amet, concete...</h3>
              <p class="channel-name">Marcus Levin</p>
              <p class="video-meta">320K views · 1 month ago</p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="playlist">
        <div class="playlist-header">
          <h3 class="playlist-date">Search on '21</h3>          
          <button class="play-button">
            <img src="/public/img/channel/playbutton.svg" alt="Play Button" class="play-button-icon">
            <span class="play-button-text">PLAY ALL</span>
          </button>
        </div>
        <div class="playlist-videos">
          <div class="video-card">
            <img src="/public/img/channel/Thumbnail 5.svg" alt="Video Thumbnail">
            <div class="video-info">
              <h3 class="video-title">Lorem ipsum dolor sit amet, concete...</h3>
              <p class="channel-name">Marcus Levin</p>
              <p class="video-meta">320K views · 1 month ago</p>
            </div>
          </div>
          <div class="video-card">
            <img src="/public/img/channel/Thumbnail 6.svg" alt="Video Thumbnail">
            <div class="video-info">
              <h3 class="video-title">Lorem ipsum dolor sit amet, concete...</h3>
              <p class="channel-name">Marcus Levin</p>
              <p class="video-meta">320K views · 1 month ago</p>
            </div>
          </div>
          <div class="video-card">
            <img src="/public/img/channel/Thumbnail 7.svg" alt="Video Thumbnail">
            <div class="video-info">
              <h3 class="video-title">Lorem ipsum dolor sit amet, concete...</h3>
              <p class="channel-name">Marcus Levin</p>
              <p class="video-meta">320K views · 1 month ago</p>
            </div>
          </div>
          <div class="video-card">
            <img src="/public/img/channel/Thumbnail 8.svg" alt="Video Thumbnail">
            <div class="video-info">
              <h3 class="video-title">Lorem ipsum dolor sit amet, concete...</h3>
              <p class="channel-name">Marcus Levin</p>
              <p class="video-meta">320K views · 1 month ago</p>
            </div>
          </div>
          <div class="video-card">
            <img src="/public/img/channel/Thumbnail 9.svg" alt="Video Thumbnail">
            <div class="video-info">
              <h3 class="video-title">Lorem ipsum dolor sit amet, concete...</h3>
              <p class="channel-name">Marcus Levin</p>
              <p class="video-meta">320K views · 1 month ago</p>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
