<link rel="stylesheet" href="/public/css/channel.css">


<div class="content-wrapper">
   <!-- 섹션 1 -->
    <section class="channel-banner">
      <div class="channel-cover">
        <img src="" alt="Channel Banner">
      </div>

      <div class="channel-title">
        <img class="channel-profile" src="" alt="Channel Profile">
        <div class="channel-details">
          <h1 class="channel-name"></h1>
          <p class="channel-subscribers"></p>
        </div>
        <button class="subscribe-button">Subscribes</button>
      </div>
      <!-- 채널 버튼들 -->
      <div class="channel-toolbar">
        <div class="toolbar-menu">HOME</div>
        <div class="toolbar-menu">VIDEOS</div>
        <div class="toolbar-menu">PLAYLISTS</div>
        <div class="toolbar-menu">COMMUNITY</div>
        <div class="toolbar-menu">CHANNELS</div>
        <div class="toolbar-menu">ABOUT</div>
          <img src="/public/img/channel/search.svg" alt="Search Icon" class="toolbar-search">      
      </div>
    </section>
      <!-- 섹션 2 메인 비디오 -->  
    
      <section class="smal-video">
      <!-- api 연동 해서 메인 동영상 띄우기 -->  
    </section>
      <!-- 섹션 3  -->
    
      <section class="play-lists"> 
      <!-- playlist 1  -->
      <div class="playlist">
        <div class="playlist-header">
          <h3 class="playlist-date">Search on '21</h3>          
          <button class="play-button">
            <img src="/public/img/channel/playbutton.svg" alt="Play Button" class="play-button-icon">
            <span class="play-button-text">PLAY ALL</span>
          </button>
        </div>
        <div class="playlist-videos playlist1-videos"></div>
        </div>
        <!-- playlist 2  -->
      <div class="playlist">
        <div class="playlist-header">
          <h3 class="playlist-date">Search on '21</h3>          
          <button class="play-button">
            <img src="/public/img/channel/playbutton.svg" alt="Play Button" class="play-button-icon">
            <span class="play-button-text">PLAY ALL</span>
          </button>
        </div>
        <div class="playlist-videos playlist2-videos">
        </div>
      </div>
      <!-- playlist 추가가능  -->
    </section>
  </div>
