<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      main {
        display: flex;
        width: 100%;
        height: calc(100vh - 69px);
        position: absolute;
        top: 0;
        left: 0;
        margin: 69px 0 0 0;
        scrollbar-color: gray #181818;
      }

      .navBar {
        visibility: visible;
      }

      .content-area {
        overflow-y: scroll;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
  <body style="display: inline-block; width: 100%">
    <%- include('template.ejs') %>
    <main><%- include('./main/mainPage.ejs') %></main>
</body>
</html>