<link rel="stylesheet" href="/public/css/mainContentStyle.css" />
<div class="content-area">
  <div class="content-categories-wrap">
    <section class="content-categories" id="category-scroll">
      <button class="scroll-btn left" onclick="scrollCategory('left')">
        <
      </button>
      <article class="content">
        <div>All</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <article class="content">
        <div>Item</div>
      </article>
      <button class="scroll-btn right" onclick="scrollCategory('right')">
        >
      </button>
    </section>
  </div>

  <div class="video-wrap">
    <section class="video-section">
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>

      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
      <article class="video-grid">
        <div class="video-content">
          <video src="/video"></video>
          <div class="video-details">
            <img src="/public/img/navBar/subUserIcon1.svg" alt="userProfile" />
            <div class="video-meta">
              <h3 class="video-description">
                Lorem ipsum dolor sit amet, consecte adipiscing elit.
              </h3>
              <div class="username">James Gouse</div>
              <div class="views">15K views 1 week ago</div>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
