<link rel="stylesheet" href="/public/css/navBar.css">
<script src="/public/js/subscribe.js"></script>
<script src="/public/js/navBar.js"></script>
<script>
    $(document).ready(() => {
        // navBar.js/insertNavbarSub()
        JSON.parse(localStorage.getItem('subList')).forEach(v => { insertNavbarSub(v) });
    });
</script>

<nav class="navBar">
  <section>
    <div class="navItem">
      <img src="/public/img/navBar/homeIcon.svg" />
      <p>Home</p>
    </div>
    <div class="navItem">
      <img src="/public/img/navBar/exploreIcon.svg" />
      <p>Explore</p>
    </div>
    <div class="navItem">
      <img src="/public/img/navBar/subscriptionIcon.svg" />
      <p>Subscriptions</p>
    </div>
  </section>
  <div class="divider"></div>
  <section>
    <div class="navItem">
      <img src="/public/img/navBar/libraryIcon.svg" />
      <p>Library</p>
    </div>
    <div class="navItem">
      <img src="/public/img/navBar/historyIcon.svg" />
      <p>History</p>
    </div>
    <div class="navItem">
      <img src="/public/img/navBar/yourVideoIcon.svg" />
      <p>Your Videos</p>
    </div>
    <div class="navItem">
      <img src="/public/img/navBar/watchLaterIcon.svg" />
      <p>Watch Later</p>
    </div>
    <div class="navItem">
      <img src="/public/img/navBar/likedVideoIcon.svg" />
      <p>Liked Videos</p>
    </div>
    <div class="navItem">
      <img src="/public/img/navBar/showMoreIcon.svg" />
      <p>Show more</p>
    </div>
  </section>
  <div class="divider"></div>
  <section class="subscription">
    <div class="caption">SUBSCRIPTIONS</div>
  </section>
  <div class="divider"></div>
  <section class="moreInfo">
    <div class="caption">MORE FROM YOUTUBE</div>
    <div>
      <div class="navItem">
        <img src="/public/img/navBar/premiumIcon.svg" />
        <p>Youtube Premium</p>
      </div>
      <div class="navItem">
        <img src="/public/img/navBar/gamingIcon.svg" />
        <p>Gaming</p>
      </div>
      <div class="navItem">
        <img src="/public/img/navBar/liveIcon.svg" />
        <p>Live</p>
      </div>
      <div class="navItem">
        <img src="/public/img/navBar/sportsIcon.svg" />
        <p>Sports</p>
      </div>
    </div>
    <div class="divider"></div>
    <div>
      <div class="navItem">
        <img src="/public/img/navBar/settingIcon.svg" />
        <p>Settings</p>
      </div>
      <div class="navItem">
        <img src="/public/img/navBar/reportHistoryIcon.svg" />
        <p>Report history</p>
      </div>
      <div class="navItem">
        <img src="/public/img/navBar/helpIcon.svg" />
        <p>Help</p>
      </div>
      <div class="navItem">
        <img src="/public/img/navBar/sendFeedbackIcon.svg" />
        <p>Send Feedback</p>
      </div>
    </div>
  </section>
</nav>
