<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/public/css/yeeunkim7/searchPage.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>검색 결과</title>

</head>
<body>
  <%- include('template.ejs') %>
  <main>
    <section class="content-area">
      <section class="video-section" id="Video-Container"></section>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" ></script>
  
  <script src="/public/js/func.js" defer></script>
  <script src="/public/js/subscribe.js" defer></script>
  <script src="/public/js/searchPage.js" defer></script>
</body>
</html>
