<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>검색 결과</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/yeeunkim7/searchPage.css" />
  <style>
    #Video-Container {
      padding: 20px;
      color: white;
    }
    body {
      background-color: #181818;
    }
  </style>
</head>
<body>

  <%- include('template.ejs') %>

  <form class="SearchBox" id="SearchForm">
    <input id="Search" type="text" placeholder="검색어를 입력하세요" />
    <button id="SearchBtn" type="submit">검색</button>
  </form>

  <!--  검색 결과 영역 -->
  <div id="Video-Container"></div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="/public/js/searchPage.js"></script>
</body>
</html>
