<link rel="stylesheet" href="/public/css/topBar.css" />
<header class="top-nav">
  <div class="nav-left">
    <button aria-label="Menu">
      <img src="/public/img/header/hamburger.svg" alt="hamburgerIcon" />
    </button>
    <a href="/">
      <img 
      src="/public/img/header/Youtube-Logo.svg"
      alt="YouTube Logo"
      class="logo"
    />
  </a>
  </div>

  <div class="nav-center">
    <form class="search-form">
      <input type="text" placeholder="Search" />
      <button type="submit">
        <img src="/public/img/header/search.svg" alt="searchIcon" />
      </button>
    </form>
    <button aria-label="Mic">
      <img src="/public/img/header/mic.svg" alt="micIcon" />
    </button>
  </div>

  <div class="nav-right">
    <button aria-label="Upload">
      <img src="/public/img/header/upload.svg" alt="uploadIcon" />
    </button>

    <button aria-label="Apps">
      <img src="/public/img/header/apps.svg" alt="appsIcon" />
    </button>
    <button aria-label="Notifications">
      <img src="/public/img/header/notifications.svg" alt="notificationsIcon" />
    </button>
    <img
      src="/public/img/navBar/subUserIcon1.svg"
      alt="Profile"
      class="profile-img"
    />
  </div>
</header>
