<link rel="stylesheet" href="/public/css/videoNav.css">

<div class="videoNav">
    <div class="recommendFilter">
        <div class="filterOpt" selected>All</div>
        <div class="filterOpt">From Marcus Levin</div>
    </div>
    <div class="rVideo">
        <a href="#">
            <img src="/public/img/videoPage/rVideo1.png">
        </a>
        <div class="rVideoInfo">
            <a class="rVideoTitle" href="#">EP 6: Living to Serve | SEARCH ON</a>
            <a class="rVideoUploader" href="#">James Gouse</a>
            <div class="rVideoBottom">
                <p>1M views</p>
                <p>3 years ago</p>
            </div>
        </div>
    </div>
    <div class="rVideo">
        <a href="#">
            <img src="/public/img/videoPage/rVideo2.png">
        </a>
        <div class="rVideoInfo">
            <a class="rVideoTitle" href="#">EP 6: Living to Serve | SEARCH ON</a>
            <a class="rVideoUploader" href="#">James Gouse</a>
            <div class="rVideoBottom">
                <p>1M views</p>
                <p>3 years ago</p>
            </div>
        </div>
    </div>
    <div class="rVideo">
        <a href="#">
            <img src="/public/img/videoPage/rVideo3.png">
        </a>
        <div class="rVideoInfo">
            <a class="rVideoTitle" href="#">EP 6: Living to Serve | SEARCH ON</a>
            <a class="rVideoUploader" href="#">James Gouse</a>
            <div class="rVideoBottom">
                <p>1M views</p>
                <p>3 years ago</p>
            </div>
        </div>
    </div>
    <div class="rVideo">
        <a href="#">
            <img src="/public/img/videoPage/rVideo4.png">
        </a>
        <div class="rVideoInfo">
            <a class="rVideoTitle" href="#">EP 6: Living to Serve | SEARCH ON</a>
            <a class="rVideoUploader" href="#">James Gouse</a>
            <div class="rVideoBottom">
                <p>1M views</p>
                <p>3 years ago</p>
            </div>
        </div>
    </div>
    <div class="rVideo">
        <a href="#">
            <img src="/public/img/videoPage/rVideo5.png">
        </a>
        <div class="rVideoInfo">
            <a class="rVideoTitle" href="#">EP 6: Living to Serve | SEARCH ON</a>
            <a class="rVideoUploader" href="#">James Gouse</a>
            <div class="rVideoBottom">
                <p>1M views</p>
                <p>3 years ago</p>
            </div>
        </div>
    </div>
    <div class="rVideo">
        <a href="#">
            <img src="/public/img/videoPage/rVideo6.png">
        </a>
        <div class="rVideoInfo">
            <a class="rVideoTitle" href="#">EP 6: Living to Serve | SEARCH ON</a>
            <a class="rVideoUploader" href="#">James Gouse</a>
            <div class="rVideoBottom">
                <p>1M views</p>
                <p>3 years ago</p>
            </div>
        </div>
    </div>
    <div class="rVideo">
        <a href="#">
            <img src="/public/img/videoPage/rVideo7.png">
        </a>
        <div class="rVideoInfo">
            <a class="rVideoTitle" href="#">EP 6: Living to Serve | SEARCH ON</a>
            <a class="rVideoUploader" href="#">James Gouse</a>
            <div class="rVideoBottom">
                <p>1M views</p>
                <p>3 years ago</p>
            </div>
        </div>
    </div>
    <div class="rVideo">
        <a href="#">
            <img src="/public/img/videoPage/rVideo8.png">
        </a>
        <div class="rVideoInfo">
            <a class="rVideoTitle" href="#">EP 6: Living to Serve | SEARCH ON</a>
            <a class="rVideoUploader" href="#">James Gouse</a>
            <div class="rVideoBottom">
                <p>1M views</p>
                <p>3 years ago</p>
            </div>
        </div>
    </div>
    <div class="rVideo">
        <a href="#">
            <img src="/public/img/videoPage/rVideo8.png">
        </a>
        <div class="rVideoInfo">
            <a class="rVideoTitle" href="#">EP 6: Living to Serve | SEARCH ON</a>
            <a class="rVideoUploader" href="#">James Gouse</a>
            <div class="rVideoBottom">
                <p>1M views</p>
                <p>3 years ago</p>
            </div>
        </div>
    </div>
</div>