<main class="channel">
  <div class="content-wrapper">
    <section class="channel-banner">
      <div class="channel-cover">
        <img src="" alt="Channel Banner">
      </div>

      <div class="channel-title">
        <img class="channel-profile" src="" alt="Channel Profile">
        <div class="channel-details">
          <h1 class="channel-name"></h1>
          <p class="channel-subscribers"></p>
        </div>
        <button class="subscribe-button">Subscribes</button>
      </div>

      <div class="channel-toolbar">
        <div class="toolbar-menu">
          <a href="" class="active">HOME</a>
          <a href="">VIDEOS</a>
          <a href="">PLAYLISTS</a>
          <a href="">COMMUNITY</a>
          <a href="">CHANNELS</a>
          <a href="">ABOUT</a>
          <img src="/public/img/channel/search.svg" alt="Search Icon">
        </div>       
      </div>
    </section>

    <section class="smal-video">
      <div class="video-img">
        <img src="/public/img/channel/video1.svg" alt="video thumbnail" class="video-thumbnail">
        <div class="videotitle">
          Blind Woodturner: Turning passion into fine art
        </div>
        <img src="/public/img/channel/video controls.svg" alt="Video Controls" class="video-controls">
        </div>
      <div class="video-description">
        <div class="video-title">Blind Woodturner: Turning passion into fine art</div>
        <div class="video-meta">567,969 views · 3 weeks ago</div>
        <div class="description">
          Chris Fisher, also known as the Blind Woodturner, learned his<br>
          craft by listening to hundreds of hours of YouTube videos and<br>
          experimenting in his workshop. Now he's a YouTube creator<br>
          himself, sells his products worldwide, and does<br>
          demonstrations all around the country.
        </div>
      </div>
    </section>

    <section class="play-lists">
      <div class="playlist">
        <div class="playlist-header">
          <h3 class="playlist-date">Search on '21</h3>          
          <button class="play-button">
            <img src="/public/img/channel/playbutton.svg" alt="Play Button" class="play-button-icon">
            <span class="play-button-text">PLAY ALL</span>
          </button>
        </div>
        <div class="playlist-videos"></div>
      </div>
    </section>
  </div>
</main>
