<link rel="stylesheet" href="/public/css/videoMain.css">

<div class="videoMain">
    <video src="" class="videoPlayer" type="video/mp4" controls="true"></video>
    <div class="videoInfo">
        <div class="videoMetadata">
            <div class="title"></div>
            <div class="videoMetadataLeft">
                <div class="views"></div>
                <div class="uploadDate"></div>
            </div>
            <div class="videoMetadataRight">
                <div class="likes">
                    <img src="/public/img/videoPage/likeIcon.svg">
                    <p></p>
                </div>
                <div class="dislikes">
                    <img src="/public/img/videoPage/dislikeIcon.svg">
                    <p></p>
                </div>
                <div class="shareBtn">
                    <img src="/public/img/videoPage/shareIcon.svg">
                    <p>SHARE</p>
                </div>
                <div class="saveBtn">
                    <img src="/public/img/videoPage/saveIcon.svg">
                    <p>SAVE</p>
                </div>
                <div class="moreOptBtn">
                    <img src="/public/img/videoPage/moreOptIcon.svg" width="100%">
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="videoDescription">
            <div class="videoUploader">
                <a href="#"><img src="/public/img/navBar/subUserIcon3.svg"></a>
                <div class="uploaderInfo">
                    <a href="#" class="uploaderName"></a>
                    <p class="uploaderSubscribers"></p>
                </div>
                <button>SUBSCRIBES</button>
            </div>
            <div class="videoDescText"></div>
        </div>
        <div class="divider"></div>
    </div>
    <div class="comments">
        <div class="commentInfo">
            <p>286 comments</p>
            <div class="sortBtn">
                <img src="/public/img/videoPage/sortIcon.svg">
                <p>SORT BY</p>
            </div>
        </div>
        <div class="commentInput">
            <img src="/public/img/navBar/subUserIcon1.svg">
            <input type="text" placeholder="Press Enter to Comment">
        </div>
    </div>
</div>
