<link rel="stylesheet" href="/public/css/videoNav.css">

<div class="videoNav">
    <div class="recommendFilter">
        <div class="filterOpt" selected>All</div>
        <div class="filterOpt">From Marcus Levin</div>
    </div>
</div>