<link rel="stylesheet" href="/public/css/videoMain.css">

<div class="videoMain">
    <video src="" class="videoPlayer" type="video/mp4" controls="true"></video>
    <div class="videoInfo">
        <div class="videoMetadata">
            <div class="title"></div>
            <div class="videoMetadataLeft">
                <div class="views"></div>
                <div class="uploadDate"></div>
            </div>
            <div class="videoMetadataRight">
                <div class="likes">
                    <img src="/public/img/videoPage/likeIcon.svg">
                    <p></p>
                </div>
                <div class="dislikes">
                    <img src="/public/img/videoPage/dislikeIcon.svg">
                    <p></p>
                </div>
                <div class="shareBtn">
                    <img src="/public/img/videoPage/shareIcon.svg">
                    <p>SHARE</p>
                </div>
                <div class="saveBtn">
                    <img src="/public/img/videoPage/saveIcon.svg">
                    <p>SAVE</p>
                </div>
                <div class="moreOptBtn">
                    <img src="/public/img/videoPage/moreOptIcon.svg" width="100%">
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="videoDescription">
            <div class="videoUploader">
                <img src="/public/img/navBar/subUserIcon3.svg">
                <div class="uploaderInfo">
                    <a href="#" class="uploaderName"></a>
                    <p class="uploaderSubscribers"></p>
                </div>
                <button>SUBSCRIBES</button>
            </div>
        </div>
        <div class="divider"></div>
    </div>
    <div class="comments">
        <div class="commentInfo">
            <p>286 comments</p>
            <div class="sortBtn">
                <img src="/public/img/videoPage/sortIcon.svg">
                <p>SORT BY</p>
            </div>
        </div>
        <%
            const comments = [{
                commenterImg: '/public/img/navBar/subUserIcon1.svg',
                authorName: 'James Gouse',
                createdAt: '8 hours ago',
                comment: 'Wow, world is full of different skills',
            }, {
                commenterImg: '/public/img/navBar/subUserIcon2.svg',
                authorName: 'Alan Cooper',
                createdAt: '4 days ago',
                comment: 'Can you provide?',
            }, {
                commenterImg: '/public/img/navBar/subUserIcon3.svg',
                authorName: 'Heroes of the Storm',
                createdAt: '8 hours ago',
                comment: 'HotS still alive',
            }, {
                commenterImg: '/public/img/navBar/subUserIcon4.svg',
                authorName: 'Kim Kimkim',
                createdAt: '8 days ago',
                comment: 'asdf',
            }];

            comments.map((v) => {
        %>
        <%- include('videoComment', {
            commenterImg: v.commenterImg,
            authorName: v.authorName,
            createdAt: v.createdAt,
            comment: v.comment,
        }) %>
        <%
            });
        %>
    </div>
</div>

<script>
    (async () => {
        await setVideoMain();
    })();
</script>