* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
  height: 100%;
}
.content-area {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 240px);
  height: 100%;
  margin-left: 240px;
  align-items: center;
  border-top: 1px solid #444;
}

.content-area .content-categories-wrap {
  z-index: 10;
  width: inherit;
  height: 56px;
  padding-inline: 16px;
  position: fixed;
  background-color: #212121;
}

.content-categories {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 50px;
  gap: 10px;
}

/* 크롬 스크롤바  */
#category-scroll::-webkit-scrollbar {
  display: none;
}

#category-scroll {
  scrollbar-width: none;
  scroll-behavior: smooth;
  white-space: nowrap;
  overflow-x: auto;
}

.content {
  flex: 0 0 53px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  border: 1px solid #444;
  border-radius: 50px;
}

.content div {
  width: 53px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
  transition: 0.2s linear;
}
#category-scroll .content div.active {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 50px;
  padding: 6px 16px;
}

.content div:hover {
  transform: transition;
  background-color: #3f3f3f;
  border-radius: 50px;
  cursor: pointer;
}
.content div:active {
  background-color: #515151;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-btn {
  z-index: 10;
  position: absolute;
  margin: 0 5px 0 5px;
  top: 15%;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #444;
  opacity: 0.8;
  cursor: pointer;
  color: #fff;
  
}

.scroll-btn.left {
  left: 2;
}
.scroll-btn.left:active {
  background-color: #515151;
}

.scroll-btn.right {
  right: 0;
}

.scroll-btn.right:active {
  background-color: #515151;
}

.scroll-btn:hover {
  opacity: 1;
}

.video-wrap {
  width: 100%;
  height: 100%;
  min-height: fit-content;
  padding: 20px;
  margin-top: 56px;
  background-color: #000;
}

.video-section {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.video-grid {
  min-width: 0;
  margin-bottom: 50px;
}

.video-content {
  width: 100%;
  flex: 1 0 auto;
}

.video-box {
  position: relative;
}

.video-content .video-player {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 5%;
  transition: .3s ease-in-out;
}

.video-content .video-player:hover {
  transform: transition ;
  border-radius: 0;
  cursor: pointer;
}

.video-content .video-box .running-time {
  position: absolute;
  right: 5px;
  bottom: 10px;
  padding: 5px;
  border-radius: 7%;
  background-color: #303030;
  color: #fff;
}

.video-details {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 10px;
  line-height: 1.1;
}

.video-details:hover {
  cursor: pointer;
}

.video-details img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.video-meta {
  width: 100%;
}

.video-meta .video-title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden; /* 최대 줄수 넘어가면 안보임 */
  text-overflow: ellipsis; /* 2줄이 넘어가면 생략 부호 */
  word-break: break-word; /* 단어가 길어도 줄바꿈 */
  font-size: 16px;
  color: #fff;
}

.video-meta .move-video,
.video-meta .move-channel {
  text-decoration: none;
}

.video-meta .channel-name {
  color: #aaa;
  margin-top: 10px;
}

.video-meta .channel-name:hover {
  color: #e6e6e6;
}

.video-meta .video-info{
  display: flex;
  flex: 1 1 auto;
  color: #aaa;
}

.video-meta .time-ago::before {
  content: "ㆍ";
}

@media (max-width: 2000px) {
  .content-area {
    width: 100%;
    max-width: calc(100%-240px);
  }
  .content-categories-wrap {
    width: 100%;
    max-width: calc(100%-240px);
    margin-left: 240px;
  }

  .video-section {
    grid-template-columns: repeat(3, 1fr); /* 태블릿 */
  }
}

@media (max-width: 1260px) {
  .content-area {
    width: 100%;
    max-width: calc(100%-72px);
    margin-left: 72px;
  }
  .content-categories-wrap {
    width: 100%;
    max-width: calc(100%-72px);
    margin-left: 72px;
  }

  .video-section {
    grid-template-columns: repeat(3, 1fr); /* 태블릿 */
  }
}

@media (max-width: 960px) {
  .content-area {
    width: 100%;
    max-width: calc(100%-72px);
    margin-left: 72px;
  }
  .content-categories-wrap {
    width: 100%;
    max-width: calc(100%-72px);
    margin-left: 72px;
  }

  .video-section {
    grid-template-columns: repeat(2, 1fr); /* 태블릿 */
  }
}

@media (max-width: 800px) {
  .content-area {
    width: 100%;
  }

  .content-categories-wrap {
    width: 100%;
  }

  .video-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .content-area {
    margin-left: 0;
    width: 100%;
  }

  .content-categories-wrap {
    width: 100%;
    margin-left: 0;
  }

  .video-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 100px;
  }
}
