<!-- 등록일 기준 +days 기능을 위한 cdn  -->
<script src="https://cdn.jsdelivr.net/npm/dayjs/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs/plugin/relativeTime.js"></script>
<script type="module" src="/public/js/mainPage.js"></script>

<!-- 비디오 출력 페이지 -->
<div class="video-wrap">
  <section class="video-section">
  </section>
</div>