<!-- 등록일 기준 +days 기능을 위한 cdn  -->
<script src="https://cdn.jsdelivr.net/npm/dayjs/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs/plugin/relativeTime.js"></script>

<div class="video-wrap">
    <section class="video-section">
    </section>
</div>

<script src="/public/js/utils.js"></script>
<script>
    dayjs.extend(dayjs_plugin_relativeTime); // 경과시간 계산을 위한 플러그인 활성화

    // 프로필 사진 출력을 위한 1~7까지 랜덤한 수 생성
   const contentNumbers = (min, max) => 
   Math.floor(Math.random() * (max - min + 1) + min);

   const getVideoList = async () => {
    return await axios.get("http://techfree-oreumi-api.kro.kr:5000/video/getVideoList");
   }

   const getChannel = async (channelId) => {
    // channelId 유효성 검사
    if (!/^[0-9]+$/.test(channelId)){
            console.error('Invalid channelId');
            return;
        }

    return await axios.get(`http://techfree-oreumi-api.kro.kr:5000/channel/getChannelInfo?id=${parseInt(channelId, 10)}`);
   }

  document.addEventListener("click",(e) => {
    // 가장 가까운 조상 요소(자기 자신 포함) 중에서 특정 셀렉터와 일치하는 요소 찾는 메서드
    const link = e.target.closest(".move-channel");

    if(link) {
        e.preventDefault();
        const channelId = link.dataset.channelId;
        window.location.href = `/video?video_id=${channelId}`;
    }
  });

    (async () => {
      try {
        const {data: res} = await getVideoList();
        const section = document.querySelector(".video-section");

        section.innerHTML = ""; // section 태그 초기화
  
        for(const video of res) {
          const timeAgo = dayjs(video.created_dt).fromNow();
          const {data:channelRes} = await getChannel(video.channel_id);

          const html = `
          <article class="video-grid">
            <a class="move-channel" href="#" data-channel-id="${video.id}">
                <div class="video-content">
                  <div class="video-box">
                    <video class="video-player" poster="${video.thumbnail}" ></video>
                    <span class="running-time">23:45</span>
                  </div>
            </a>
              <div class="video-details">
                <img class="channel_profile" src="${channelRes.channel_profile}" alt="userProfile" />
                <div class="video-meta">
                  <a class="move-channel" href="#" data-channel-id="${video.id}">
                    <h3 class="video-title">${video.title}</h3>
                  </a>
                  <div class="channel-name">${channelRes.channel_name}</div>
                  <div class="views time-ago">
                    <div class="views">${nFormatter(video.views, 1)} views</div>
                    <div class="time-ago"> ${timeAgo} </div>
                  </div>
                </div>
              </div>
            </div>
            
          </article>
          `;
          section.insertAdjacentHTML("beforeend", html);
        };
      } catch (error) {
        console.error("영상 목록을 불러오는 데 실패했습니다:", error);
      }
    })();
  </script>