<link rel="stylesheet" href="/public/css/mainPage.css" />

<!-- Axios 사용을 위한 cdn -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<div class="content-area">
  <!-- 메인페이지 버튼 부분 -->
  <% 
  const mainPageButton=[]; 
  for (let i=0; i < 20; i++) { 
    mainPageButton.push({ content: i===0 ? "All" : "Item" });
  }
  %>

  <div class="content-categories-wrap">
    <section class="content-categories" id="category-scroll">
      <button class="scroll-btn left" onclick="scrollCategory('left')">&lt;</button>
      <% mainPageButton.forEach((v)=> { %>
        <%- include('mainPageButton', { content: v.content }) %>
          <% }); %>

            <button class="scroll-btn right" onclick="scrollCategory('right')">&gt;</button>
    </section>
    </div>

     <!-- 메인 페이지 카드 (비디오) -->
    <%- include('mainPageCard') %>
  </div>
  

  